@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/*@font-face {*/
/*  font-family: "SCDream";*/
/*  font-weight: 200;*/
/*  font-style: normal;*/
/*  src: src("/fonts/SCDream2.otf") format("off");*/
/*}*/
/*@font-face {*/
/*  font-family: "SCDream";*/
/*  font-weight: 300;*/
/*  font-style: normal;*/
/*  src: src("/fonts/SCDream3.otf") format("off");*/
/*}*/
/*@font-face {*/
/*  font-family: "SCDream";*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*  src: src("/fonts/SCDream4.otf") format("off");*/
/*}*/
/*@font-face {*/
/*  font-family: "SCDream";*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*  src: src("/fonts/SCDream5.otf") format("off");*/
/*}*/
/*@font-face {*/
/*  font-family: "SCDream";*/
/*  font-weight: 600;*/
/*  font-style: normal;*/
/*  src: src("/fonts/SCDream6.otf") format("off");*/
/*}*/
/*@font-face {*/
/*  font-family: "SCDream";*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*  src: src("/fonts/SCDream7.otf") format("off");*/
/*}*/

/*@font-face {*/
/*  font-family: "SCDream";*/
/*  font-weight: 800;*/
/*  font-style: normal;*/
/*  src: src("/fonts/SCDream8.otf") format("off");*/
/*}*/

body {
  font-family: "S-CoreDream-3Light", sans-serif;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/
