@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "S-CoreDream-3Light", sans-serif;
}

.main_title {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.section02_img {
}

@media (max-width: 768px) {
}
